@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @media (prefers-color-scheme: light) {
      --color-background: #ffffff;
      --color-decobackground: #fafafa;
      --color-text: #000000;
      --color-gray: #dbdbdb;
      --color-darkgray: #737373;
      --color-blue: #0095f6;
      --color-darkblue: #00376b;
      --color-error: #ff0000;
      --color-purple: #4d00ff;
    }

    @media (prefers-color-scheme: dark) {
      --color-background: #000000;
      --color-decobackground: #1e1e1e;
      --color-text: #fafafa;
      --color-gray: #262626;
      --color-darkgray: #8e8e8e;
      --color-blue: #0095f6;
      --color-darkblue: #4d00ff;
      --color-error: #ff0000;
      --color-purple: #4d00ff;
    }
  }

  /* Feature theme switcher */
  [data-theme="light"] {
    --color-background: #ffffff;
    --color-decobackground: #fafafa;
    --color-text: #000000;
    --color-gray: #dbdbdb;
    --color-darkgray: #737373;
    --color-blue: #0095f6;
    --color-darkblue: #00376b;
    --color-error: #ff0000;
    --color-purple: #4d00ff;
  }

  [data-theme="dark"] {
    --color-background: #000000;
    --color-decobackground: #1e1e1e;
    --color-text: #fafafa;
    --color-gray: #262626;
    --color-darkgray: #8e8e8e;
    --color-blue: #0095f6;
    --color-darkblue: #4d00ff;
    --color-error: #ff0000;
    --color-purple: #4d00ff;
  }

  html {
    font-family: "Roboto", system-ui, sans-serif;
    font-weight: 400;
  }

  body {
    min-height: 100vh;
    min-width: 320px;
    background-color: var(--color-background);
    color: var(--color-text);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
